//
//                                 ,,                              ,,
//   `7MM"""Mq.                    db                       mm     db
//     MM   `MM.                                            MM
//     MM   ,M9 ,6"Yb.  .P"Ybmmm `7MM  `7MMpMMMb.   ,6"Yb.mmMMmm `7MM  ,pW"Wq.`7MMpMMMb.
//     MMmmdM9 8)   MM :MI  I8     MM    MM    MM  8)   MM  MM     MM 6W'   `Wb MM    MM
//     MM       ,pm9MM  WmmmP"     MM    MM    MM   ,pm9MM  MM     MM 8M     M8 MM    MM
//     MM      8M   MM 8M          MM    MM    MM  8M   MM  MM     MM YA.   ,A9 MM    MM
//   .JMML.    `Moo9^Yo.YMMMMMb  .JMML..JMML  JMML.`Moo9^Yo.`Mbmo.JMML.`Ybmd9'.JMML  JMML.
//                     6'     dP
//                     Ybmmmd'

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: $spacing-normal;
  padding: 0 16px;

  a, em, span {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 36px;
    width: auto;
    min-height: 36px;
    height: auto;
    margin-bottom: $spacing-xs;
    padding: 8px $spacing-xs;
    border-radius: 4px;
    border: 1px solid $heading-color;
    background-color: transparent;
    color: $heading-color;
    font-weight: 500;
    font-size: $font-size-xs;
    line-height: 1em;
    white-space: nowrap;
    transition: all .2s $ease-out;

    & + a,
    & + em,
    & + span {
      margin-left: $spacing-xs;
    }

    &.prev,
    &.next {
      border-color: transparent;
    }

    &.current {
      border-color: $heading-color;
      background-color: $heading-color;
      color: $bright;
    }

    @media (hover: hover) {
      &:hover {
        border-color: $heading-color;
        background-color: $heading-color;
        color: $bright;
      }
    }
  }

  em, span {
    border-color: $remark-color;
    background-color: $gray-lighten;
    color: $remark-color;
    pointer-events: none;
  }
}