---
layout: default
---

  <main class="post" role="main" aria-label="Content">
    <div class="wrapper">
      <article>
        <header>
          <span class="date">{{ page.date | date: "%B %-d, %Y" }}</span>
  
          <h1>
            <a class="perlink" href="{{ page.url | relative_url }}">
              {{ page.title | escape }}
            </a>
          </h1>
  
          <div class="categories">
            <span>Categories: </span>
  
            {% for category in page.categories %}
              <a href="/{{ category | slugize }}/">
                {{ category }}
              </a>
            {% endfor %}
          </div>
  
          <div class="tags">
            <span>Tags: </span>
  
            {% for tag in page.tags %}
              <a href="/{{ tag | slugize }}/">
                {{ tag }}
              </a>
            {% endfor %}
          </div>
        </header>
  
        <div class="entry-content">
          {{ page.content }}
        </div>
      </article>
    </div>
  </main>
