//
//                                                                                ,,
//   MMP""MM""YMM                                                               `7MM
//   P'   MM   `7                                                                 MM
//        MM `7M'   `MF'`7MMpdMAo.  ,pW"Wq.   .P"Ybmmm `7Mb,od8 ,6"Yb. `7MMpdMAo. MMpMMMb.`7M'   `MF'
//        MM   VA   ,V    MM   `Wb 6W'   `Wb :MI  I8     MM' "'8)   MM   MM   `Wb MM    MM  VA   ,V
//        MM    VA ,V     MM    M8 8M     M8  WmmmP"     MM     ,pm9MM   MM    M8 MM    MM   VA ,V
//        MM     VVV      MM   ,AP YA.   ,A9 8M          MM    8M   MM   MM   ,AP MM    MM    VVV
//      .JMML.   ,V       MMbmmd'   `Ybmd9'   YMMMMMb  .JMML.  `Moo9^Yo. MMbmmd'.JMML  JMML.  ,V
//              ,V        MM                 6'     dP                   MM                  ,V
//           OOb"       .JMML.               Ybmmmd'                   .JMML.             OOb"

p {
  color: inherit;
  font-size: $font-size-normal; // 16px
  line-height: 1.5em; // 16em * 1.5 = 24px
}

strong {
  font-weight: bold;
}

b {}

i {}

u {}

q {}

em {}

mark {}

small {}

blockquote {}
